<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>jobsite</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'reg.css' %}">
   
</head>
<body>

    <form name="register" action="/sav/" method="POST" >
        {% csrf_token %}

        <nav class="navbar navbar-default" style="background-color:#aaa"> 
            <div class="container-fluid"> 
                <a class="navbar-brand" href="/index">
                    <span class="title-text">SHINEDOOR</span>
                </a>              
            </div>
        </nav> 
    <div>
     <img src="{% static 'images/px.jpg' %}" style="background-repeat: no-repeat;
            background-size:cover;
            height: 50%;
            width: 100%;
            margin-top:-20px;">
    </div> 
        <div class="container" style=" margin-top: -50%; margin-left: -60%;">
            <div class="card" style="background-color:#aaa; box-shadow: 14px 15px 31px -15px black;
            -webkit-box-shadow: 14px 15px 31px -15px black;
            -moz-box-shadow: 14px 15px 31px -15px black">
                <h1 class="text-center">Sign Up</h1>
                <div class="card-body">
                    <div class="row g-3">
                        <div class="col-sm-10">
                            <label for="validationServer01" class="form-label">USERNAME</label>
                            <input type="text" name="username" class="form-control is-valid" id="validationServer01" required>
                        </div>
                        <div class="col-sm-10">
                            <label for="validationServer02" class="form-label">EMAIL</label>
                            <input type="email" name="email" class="form-control is-valid" id="validationServer02" required>
                        </div>
                        <div class="col-sm-10">
                            <label for="validationServerPassword" class="form-label">PASSWORD</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text" id="inputGroupPrepend3"></span>
                                <input type="password" name="password" class="form-control is-invalid" id="validationServerPassword" aria-describedby="inputGroupPrepend3 validationServerPasswordFeedback" required>
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <label for="validationServerPassword1" class="form-label">RE-TYPE PASSWORD</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text" id="inputGroupPrepend3"></span>
                                <input type="password" name="password1" class="form-control is-invalid" id="validationServerPassword1" aria-describedby="inputGroupPrepend3 validationServerPasswordFeedback1" required>
                            </div>
                            <div id="passwordMatchError" class="invalid-feedback" style="display: none;">
                                Passwords do not match.
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <label for="validationServer03" class="form-label">City</label>
                            <input type="text" name="city" class="form-control {% if form.errors.city %}is-invalid{% endif %}" id="validationServer03" aria-describedby="validationServer03Feedback" required>
                            {% if form.errors.city %}
                            <div id="validationServer03Feedback" class="invalid-feedback">
                                {{ form.errors.city }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" aria-describedby="invalidCheck3Feedback" required>
                                <label class="form-check-label" for="invalidCheck3">
                                    Agree to terms and conditions
                                </label>
                                <div id="invalidCheck3Feedback" class="invalid-feedback">
                                    You must agree before submitting.
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <button class="btn btn-primary" type="submit"  style="background-color: black;" id="registerButton">Submit form</button>
                        </div>
                    </div>
                    {{ form.as_p }}
                </div>
                <p class="col-sm-10">
                    Already have an account? <a href="/log">Login here</a>
                </p>
            </div>
        </div>
   
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#registerButton').click(function(event) {
                var password = $('#validationServerPassword').val();
                var password1 = $('#validationServerPassword1').val();

                if (password !== password1) {
                    event.preventDefault();
                    $('#passwordMatchError').show();
                }
            });
        });
    </script>
</body>
</html>
